*{
    margin:0;
    padding:0;
}
:root {
    --color-bg : #f0f0f0;
    --color-base : #D4D0D3;
    --color-dark : #1D1D1D;
    --color-base-opacity: rgba(255,255,255,.3);
    --color-dark-opacity: rgba(29,29,29,.3);
    --trans: all .3s ease-in-out;
}
body{   
    font-family: 'Open Sans', Arial, sans-serif;
    background: var(--color-bg);
} 
.bckgrnd {
    width:100%; 
    height:0;
    background:rgba(29,29,29,.95);
    position: absolute;  
    opacity:0;
    transition: opacity .3s ease-in-out;
}
.bckgrnd.visible{
    height:100%;
    opacity:1;
} 
.padding-top-bottom{
    padding:50px 0;
    overflow:hidden;
} 
.margin--minus {
    position:relative;
    margin-top:-60px;
}
h6 {
    font-weight:600;
    font-size:16px;
    margin-top:0;
    margin-bottom:20px;
}